<div class="art art--browser">
  <div class="art__paper">
    <div class="art__chrome"><i></i><i></i><i></i><span class="art__url">yourbank.com.<b>secure-login.example</b></span></div>
    <div class="art__page">
      <span class="redact" style="--w:58%"></span>
      <span class="redact" style="--w:82%"></span>
      <span class="redact" style="--w:44%"></span>
      <span class="art__btn">Sign in</span>
    </div>
  </div>
  <div class="art__slip"><small>Domain registered</small><b>3 days ago</b></div>
</div>
